body {
  margin: 0;
  padding: 0;
}
body * {
  font-family: sans-serif, "Arial";
}

@media (min-width: 768px) {
  #wd-kambaz .wd-main-content-offset {
    padding-left: 130px !important;
  }
}

.list-group.wd > .list-group-item {
  border: none;
  background-color: transparent;
  outline: none;
  border-radius: 0%;
  font-size: 14pt;
}
.list-group.wd > .list-group-item.active {
  color: black !important;
  background-color: white;
  border-left: 3px solid black !important;
  border-radius: 0%;
  font-size: 14pt;
  outline: none;
}

.wd-activity-profile-size {
  height: 100px;
  width: 100px;
}

/* Pazza CSS */
/* PazzaNavigation */
.wd-pazza-nav-bar {
  height: 60px;
  position: sticky;
}

.wd-pazza-logo {
  font-family: "Lucida Grande";
  font-size: 18pt;
  font-weight: 500;
  padding-left: 1%;
  vertical-align: middle;
}

.wd-pazza-nav-tab {
  font-family: "Lucida Grande";
  font-size: 13pt;
  font-weight: 500;
  color: white;
  text-decoration: none;
  vertical-align: middle;
  text-wrap: nowrap;
}

.wd-pazza-flex-items {
  justify-content: space-around;
  display: flex;
  flex-direction: row;
}

.wd-pazza-active-underline {
  text-decoration: underline;
}

.wd-text-no-decor {
  text-decoration: none;
}

/* FolderFilter */
.wd-pazza-folder-filter-bar {
  background-color: #e7e8ea;
  height: 30px;
  position: sticky;
}

.wd-pazza-folder-filter-tab {
  color: #8a8a8a;
  font-family: monospace;
  font-size: 12pt;
  text-decoration: none;
  vertical-align: middle;
  text-wrap: nowrap;
}

.wd-pazza-active-bold {
  font-weight: bolder;
}

/* List of Post Controls */
.wd-pazza-lopc-bar {
  background-color: #e7e8ea;
  height: 28px;
  display: flex;
  direction: row;
  position: sticky;
}

.wd-pazza-lopc-tab {
  font-size: 10pt;
  color: #7f7f7f;
}

/* Post Controls*/
.wd-pazza-np-bar {
  display: felx;
  direction: row;
  flex-grow: 1;
  height: 40px;
  background-color: #7f7f7f;
}

.wd-pazza-np-button {
  color: white;
  background-color: #3973a1;
  font-size: 11pt;
  vertical-align: center;
  height: 85%;
}

.wd-pazza-search-box {
  height: 85%;
  vertical-align: center;
  display: flex;
  direction: row;
  font-size: 11pt;
}

/* List of Posts */
.wd-pazza-lop-info-bar {
  background-color: #e7e8ea;
  color: #7f7f7f;
  display: flex;
  direction: row;
  font-size: 9pt;
  font-weight: bold;
  height: 18px;
  font-family: "Arial";
}

.wd-pazza-lop-content-box {
  color: #7f7f7f;
  background-color: white;
  font-size: 9pt;
}
.wd-pazza-lop-content-subject {
  line-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  max-height: 16px;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.wd-pazza-lop-content-body {
  line-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  max-height: 64px;
  line-clamp: 4;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

/* Pazza Colors */
.wd-pazza-blue {
  color: #3973a1;
}

.wd-pazza-yellow {
  color: #faae40;
}

.wd-pazza-dark-grey {
  color: #7f7f7f;
}

.wd-pazza-green {
  color: #008800;
}

.wd-pazza-red {
  color: #a5302c;
}
.wd-pazza-black {
  color: #555555;
}

/* Pazza Background Colors*/
.wd-pazza-bg-dark-grey {
  background-color: #7f7f7f;
}
.wd-pazza-bg-blue {
  background-color: #3973a1;
}
.wd-pazza-bg-blue-grey {
  background-color: #eaeef4;
}
.wd-pazza-bg-light-grey {
  background-color: #e7e8ea;
}
.wd-pazza-bg-light-blue {
  background-color: #cedfee;
}
.wd-pazza-bg-black {
  background-color: #555555;
}
.wd-pazza-bg-darker-grey {
  background-color: #f2f2f2;
}

/* Pazza Border Colors*/
.wd-pazza-border-dark-grey {
  border-color: #7f7f7f;
}
.wd-pazza-border-light-grey {
  border-color: #cedfee;
}
.wd-pazza-border-blue {
  border: 2px solid #3973a1;
}

.wd-pazza-edit-subfolder-btn {
  border: 1px solid #d6dbe0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.wd-pazza-create-subfolder-btn {
  border: 1px solid #d6dbe0;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.wd-pazza-fit-content-btn {
  height: fit-content;
}
/* Pazza Font */
.wd-pazza-font-8pt {
  font-size: 8pt;
}
.wd-pazza-font-9pt {
  font-size: 9pt;
}
.wd-pazza-font-10pt {
  font-size: 10pt;
}
.wd-pazza-font-11pt {
  font-size: 11pt;
}
.wd-pazza-font-arial {
  font-family: "Arial";
}
.wd-pazza-font-lucida {
  font-family: "Lucida Grande";
}

/* Pazza Corner */
.wd-pazza-round-left-bottom-corner {
  border-bottom-left-radius: 5px;
}

/* Pazza Image*/
.wd-pazza-profile-dimension {
  width: 50px;
  height: 48px;
  border-width: 3pt;
  object-fit: cover;
  aspect-ratio: 1/1;
}

/* Pazza Position*/
.wd-pazza-pos-upper-right {
  position: relative;
  top: 0%;
  right: 0%;
}

.wd-pazza-single-input {
  width: 4%;
}
.wd-pazza-min-input {
  width: fit-content;
}
.wd-pazza-class-glance-info-size {
  height: 70%;
}

.wd-pazza-full-screen {
  height: 100vh;
}
.wd-pazza-unread-circle {
  height: 5pt;
}
